mat-card {
  margin: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-actions {
  margin-left: auto;
}

.product-table {
  width: 100%;
}
